.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}



 
 

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}


.MuiDataGrid-cell {
  white-space: normal; /* Allow text to wrap to a new line */
  word-wrap: break-word; /* Break long words to fit in the cell */
  overflow-wrap: break-word; /* Handle word breaking in different browsers */
  line-height: 1.5em; /* Adjust line height for readability */
  display: flex-start; /* Flexbox display for alignment */
  align-items: center; /* Center content vertically */
  justify-content: center; /* Center content horizontally (optional) */
  padding: 8px; /* Optional: Add padding for a better appearance */
  box-sizing: border-box; /* Include padding in width and height calculations */
}







